# Visual Studio / VS Code
.vs/
.vs/
.vscode/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user
*.pdb
*.exp

# Build artifacts
build/
.build/
./.build/
**/[Bb]in/
**/[Oo]bj/
**/[Rr]elease/
**/[Dd]ebug/
**/[Ii]ntermediates/
**/*.tlog

# User-specific / temporary files
*.user
*.rsuser
*.suo
*.userosscache
*.sln.docstates
*.env
*.log
*.tmp

# Keep all source, include and lib files in vendor
!Lunara/vendor/**/include/**
!Lunara/vendor/**/lib/**

# Ignore cmake/build temp files in vendor
Lunara/vendor/**/cmake/
Lunara/vendor/**/bin/
Lunara/vendor/**/obj/

# Keep all source and include files
!Lunara/CoreLib/include/**
!Lunara/CoreLib/src/**
!Lunara/SDLCoreLib/include/**
!Lunara/SDLCoreLib/src/**
!Lunara/Lunara/include/**
!Lunara/Lunara/src/**